@using EasyServices.Common
@using EasyServices.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject EasyServices.Services.Data.INotificationsService notificationsService
@inject EasyServices.Services.Data.IUsersService usersService
@{
    var userId = this.UserManager.GetUserId(this.User);
    var profilePicutre = this.usersService.GetProfilePictureUrl(userId);
}


    <ul class="navbar-nav">
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            <li class="nav-item">
                <a class="btn"
                   asp-area=""
                   asp-controller="Notifications"
                   asp-action="All"
                   asp-route-userId="@userId"
                   title="Известия">
                    <i class="far fa-bell fa-1x fa-fill"></i>
                    <span class="badge badge-warning notification-badge">
                        @(await this.notificationsService.GetUnreadUserNotificationsCount(userId))
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark btn-success rounded"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index" title="Редактирай">
                    <img src="@profilePicutre"
                         class="rounded-circle z-depth-0"
                         alt="avatar image"
                         height="35" />  Профил
                </a>
            </li>
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="Administration"
                       asp-controller="Dashboard"
                       asp-action="Index" title="Admin">Admin</a>
                </li>
            }
            <li class="nav-item">
                <form class="form-inline"
                      asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
            </li>
        }
    </ul>
